<launch>

  <arg name="remapped_tf" default="/tf" />
  <arg name="output" default="screen" />

  <!-- CAMERA DRIVER -->
  <arg name="camera" default="/dev/video1" />
  <arg name="height" default="1080" />
  <arg name="width" default="1920" />
  <arg name="camera_frame" default="test_camera_optical_frame" />

  <node pkg="uvc_camera_driver" type="usb_cam_node" name="test_camera" output="$(arg output)">
    <param name="video_device" type="string" value="$(arg camera)" />
    <param name="image_width" type="int" value="$(arg width)" />
    <param name="image_height" type="int" value="$(arg height)" />
    <param name="camera_frame_id" type="string" value="$(arg camera_frame)" />
    <rosparam command="load" file="$(find deformable_astar)/config/tracking_camera_info.yaml" />
  </node>

</launch>
